.tabs {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -295px;
  margin-bottom: 30px;
}

.ui-widget-header {
  border: none;
  background-color: rgba(255,255,255,0);
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
  padding-left: 30px;
}

.ui-widget.ui-widget-content {
  border: none;
  padding: 0;
  background-color: rgba(255,255,255,0);
}

.ui-tabs .ui-tabs-nav li {
  margin: 0;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgb(109, 140, 183);
  border-bottom: none;
  background-color: rgb(209, 209, 209);
  
  a {
    font-size: 20px;
    color: #626262;
  }
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  background-color: rgb(113, 146, 192);
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.1);
  
  a {
    color: #fff;
  }
}

.ui-tabs .ui-tabs-panel {
  min-height: 272px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 73px;
  padding-right: 73px;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 15px 26px;
}
